/* Jaimi Luckett's First General Assembly Page	*/
* { 
	margin: 0; padding:0; box-sizing:border-box; 
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    background-color: #fff;
    color: #373638;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857em;
    padding: 1.5em;
}

header {
	/*background-color:#7a8d37; REPLACE AFTER LESSON 5*/
	background-color: #FFED74;/* REMOVE AFTER LESSON 5*/
	border: 1px black solid;/* REMOVE AFTER LESSON 5*/
	padding: 20px; /* REMOVE AFTER LESSON 5*/
}


nav {
	float: right;
	text-transform: uppercase;
	background-color: #E8C66A;/* REMOVE AFTER LESSON 5*/
	border: 1px black solid;/* REMOVE AFTER LESSON 5*/
	padding: 20px; /* REMOVE AFTER LESSON 5*/
}

nav a {
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 1em 1.25em;
}

nav a:hover {
	/* DETERMINE WHAT THE HOVER COLOR SHOULD BE */
}

section {
	padding: 2em 0;
	background-color: #E89C6C;/* REMOVE AFTER LESSON 5*/
	border: 1px black solid;/* REMOVE AFTER LESSON 5*/

}

h1,h2,h3,h4,h5,h6 {
	color: #03b9e0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 3em;
	line-height: 1em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 2em;
	line-height: 1em;
}

a {
	text-decoration: none;
	color:#7a8d37;
}

a:hover {
	color: #896a51;
}

footer {
	background-color: #FF957E;/* REMOVE AFTER LESSON 5*/
	border: 1px black solid;/* REMOVE AFTER LESSON 5*/
	padding: 20px; /* REMOVE AFTER LESSON 5*/
}

footer ul {
	list-style-type: none;
}

#logo {

}

#hero {
	background: url(../images/hero-banner.png);
	height: 90vh;
	background-size: cover;
	background-repeat: no-repeat;
}

#about {

}

#about img {
	border-radius: 100%;
}

#skills {
	width: 30%;
}

#skills img {
	width: 100%;
	border-radius: 100%;
}

#content {
    float: left;
	padding: 1em;
}

#development {
	float: left;
	padding: 1em;
}

#editing {
   float: left;
	padding: 1em;
}