/* Jaimi Luckett's First General Assembly Page	*/
* { 
	margin: 0; padding:0; box-sizing:border-box; 
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    background-color: #fff;
    color: #373638;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857em;
    padding: 1.5em;
}

header {
	background-color:#7a8d37;
}


nav {
	float: right;
	text-transform: uppercase;
}

nav a {
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 1em 1.25em;
}

section {
	padding: 2em 0;
}

h1,h2,h3,h4,h5,h6 {
	color: #03b9e0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 3em;
	line-height: 1em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 2em;
	line-height: 1em;
}

a {
	text-decoration: none;
	color:#7a8d37;
}

a:hover {
	color: #896a51;
}

footer {

}

footer ul {
	list-style-type: none;
}

#logo {

}

#hero {
	background: url(../images/hero-banner.png);
	height: 90vh;
	background-size: cover;
	background-repeat: no-repeat;
}

#about {
    background-color: #FFB7CF; /* added per the project instructions in unit 6 */
    border: 1px black solid; /* added per the project instructions in unit 6 */
    padding: 20px; /* added per the project instructions in unit 6 */

}

#left {
    background-color: violet; /* added per the project instructions in unit 6 */
    border: 1px black solid; /* added per the project instructions in unit 6 */
    padding: 20px; /* added per the project instructions in unit 6 */
    float: left; /* added per the project instructions in unit 6 */
    width: 62%; /* added per the project instructions in unit 6 */
}

#about img {
	border-radius: 100%;
    background-color: pink; /* added per the project instructions in unit 6 */
    border: 1px black solid; /* added per the project instructions in unit 6 */
    padding: 20px; /* added per the project instructions in unit 6 */
    float: left; /* added per the project instructions in unit 6 */
    width: 30%; /* added per the project instructions in unit 6 */
}

#skills {
    background-color: #FFB7CF; /* added per the project instructions in unit 6 */
    border: 1px black solid; /* added per the project instructions in unit 6 */
    padding: 20px; /* added per the project instructions in unit 6 */

}

#skills img {
	width: 100%;
	border-radius: 100%;
}

#content {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#development {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 30%;
}

#editing {
    background-color: gray;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 30%;
}
